#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;   /* ajusta como quiseres */
    height: auto;
    z-index: 10;    /* garante que fica acima da imagem */
    width: 7%;
    height: 10%;
}

#login{
    position: absolute;
    top: 20px;
    left: 90%;
    width: 120px;   /* ajusta como quiseres */
    height: auto;
    z-index: 10;    /* garante que fica acima da imagem */
    width: 7%;
    height: 7%;
}

#ext {
    width: 100%;
    height: 90%;
    display: block;
    
}

#titulo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}

.card {
    display: inline-block;
    margin: 15px;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    align-items: center;
}

#inicio {
    background-image: url('img/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}


#meio {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

#sobre {
    background-color: rgb(34, 33, 33);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio {
    background-color: rgb(240, 240, 240);
    color: black;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    text-align: center;
    align-items: center;
}